<tr>
	<td><%= raw Pygments.highlight(gist.snippet, lexer: gist.lang) %></td>
	<td><%= gist.lang %></td>
	<td><%= gist.description %></td>
	<td><%= link_to 'Show', gist %></td>
	<td><%= link_to 'Edit', edit_gist_path(gist) %></td>
	<td><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>