
	<div class="gist">
		<h1 class="jezyk">Language: <%= gist.lang %></h1>
		<%= raw Pygments.highlight(gist.snippet, lexer: gist.lang) %>
			
		<div>
			<p class="opis">
				<%= gist.description %>
			</p>
			<p class="przyciski">
				<%= link_to 'Show', gist %>
				<%= link_to 'Edit', edit_gist_path(gist) %>
				<%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
		</div>
	</div>
	<hr />