<div id="infinite-scrolling">
	<%= will_paginate @gists, renderer: BootstrapPagination::Rails%>
</div>

<p id="notice">
	<%= notice %>
</p>

<%= form_tag @gist, :method => 'get' do %>
<div id="search-box">
	<div class="input-lang">
		<%= select_tag :lang_search, options_for_select(Pygments.lexers.sort.map{|key, value| [ value[:name], value[:aliases][0] ] }), include_blank: true, class: "form-control" %>
	</div>
	<div class="input-snippet">
		<%= text_field_tag :snippet_search, params[:snippet_search], class: "form-control", placeholder: "Snippet" %>
	</div>
	<div class="input-desc">
		<%= text_field_tag :desc_search, params[:desc_search], class: "form-control", placeholder: "Description" %>
	</div>
	<div class="input-search">
		<div class="btn-group btn-group-lg">
			<%= submit_tag "Search", :type => "submit", class: "btn btn-info" %>
		</div>
	</div>
</div>
<% end %>
<div id="my-gists">
	<%= render @gists %>

</div>

<br />

