<div class="gist">
	<h1>Gists show</h1>
	<div class="snipet snipet-a">
		<p>
			<strong>Snippet:</strong>
		</p>
		<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
	</div>
	<div id="edit2">
		<div class="field">
			<strong>Description:</strong>
			<%= @gist.description%>
		</div>
		<div class="field-lang">
			<strong>Lang:</strong>
			<%= @gist.lang %>
		</div>

		<p class="actions">
			<%= link_to image_tag("http://www.bobruiskmebel.com/Resources/edit2e.png", {:alt=>"Edit", :title=>"Edit"}) , edit_gist_path(@gist), :class => 'editGist' %>
			<%= link_to image_tag("http://www.zielski.com.pl/pliki/grafika/ikony/back.png", {:alt=>"Back", :title=>"Back"}) , gists_path, :class => 'editGist' %>
		</p>
	</div>
</div>
<hr>
