<!DOCTYPE html>
<html>
<head>
  <title>MyGists</title>
<<<<<<< HEAD
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
=======
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
>>>>>>> 32b276a2c3c780850d0391bdb8dc1909570631cf
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
